* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .logo h1 {
    font-size: 30px;
    margin: 0;
}

section {
    padding: 40px;
}

section#home .content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

section#home .content p {
    font-size: 18px;
    margin-bottom: 40px;
}

section h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
}

.social a img {
    width: 40px;
}

